body {
  margin: 0px;
  background: url('../img/bgg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.firstpart{
  background-color:;
}

.form-group h4{
  font-size: 1rem;
}

.reg h4{
  font-size: 1rem;
}




